.products {
  margin-left: 30px;
  margin-right: 30px;
  position: relative;

  .heading-container {
    width: fit-content;
    margin-left: 40px;

    display: flex;
    align-items: center;
    margin-top: 40px;

    h1 {
      font-weight: 700;
      font-size: 25px;
      border-bottom: 1px solid black;
    }

    h3 {
      font-size: 17px;
      font-weight: lighter;
      margin-top: -5px;
    }

    .cart-btn {
      margin-left: 40px;
      background: linear-gradient(to right, #ffd500, #ffa200);
      border: none;
      color: white;
      font-weight: bold;
      border-radius: 30px;
      padding: 8px 28px;
      transition: 0.3s all ease-in-out;

      @media only screen and (max-width: 576px) {
        margin: inherit;
        position: inherit;
      }

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .cart-list {
    margin: 40px 0px;
    width: 100%;

    .cart-list__heading {
      th {
        padding: 10px;
      }
    }

    .cart-list__item {
      box-shadow: 5px 5px 10px 5px #0000000a;

      &:hover {
        box-shadow: 5px 5px 10px 5px #00000015;
      }

      td {
        padding: 30px 10px;

        img {
          max-width: 100px;
        }

        button {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 10px;
          background: #ff0022;
          border-radius: 100px;
          border: none;
          transition: 0.3s all ease-in-out;

          @media only screen and (max-width: 576px) {
            padding: 8px;

            svg {


              width: 16px;
              height: 16px;
              fill: white;
            }
          }

          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }
}