<div class="container">
  <div class="headingContainer">
    <h1 class="heading">O nama</h1>
    <h3>Pogledajte zašto smo najbolji</h3>
  </div>
  <div class="textContainer">
    <p class="text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ac turpis egestas
      maecenas pharetra. Mattis ullamcorper velit sed ullamcorper morbi
      tincidunt ornare. Purus semper eget duis at tellus at urna condimentum
      mattis. Aliquet eget sit amet tellus cras. Dolor sit amet consectetur
      adipiscing elit pellentesque habitant morbi tristique. Sagittis eu
      volutpat odio facilisis mauris sit amet. Placerat orci nulla pellentesque
      dignissim enim sit. Suscipit adipiscing bibendum est ultricies integer
      quis. Faucibus et molestie ac feugiat sed. Donec ac odio tempor orci
      dapibus ultrices in iaculis. Varius quam quisque id diam vel quam
      elementum pulvinar etiam. Nullam ac tortor vitae purus faucibus ornare
      suspendisse sed nisi. Ullamcorper sit amet risus nullam eget fZZelis eget
      nunc lobortis. Urna molestie at elementum eu facilisis sed odio morbi.
      Malesuada fames ac turpis egestas integer eget aliquet nibh praesent.
      Iaculis at erat pellentesque adipiscing commodo elit at imperdiet.
    </p>
  </div>
  <div class="cardContainer">
    <div class="card">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        width="140"
        height="140"
        viewBox="0 0 140 140"
      >
        <defs>
          <linearGradient
            id="linear-gradient"
            x1="1"
            y1="0.5"
            x2="0"
            y2="0.5"
            gradientUnits="objectBoundingBox"
          >
            <stop offset="0" stop-color="#ffd500" />
            <stop offset="1" stop-color="#ffa200" />
          </linearGradient>
        </defs>
        <g id="Group_58" data-name="Group 58" transform="translate(-313 -947)">
          <circle
            id="Ellipse_37"
            data-name="Ellipse 37"
            cx="70"
            cy="70"
            r="70"
            transform="translate(313 947)"
            fill="url(#linear-gradient)"
          />
          <path
            id="Icon_material-edit-location"
            data-name="Icon material-edit-location"
            d="M24.094,3A16.612,16.612,0,0,0,7.5,19.594C7.5,32.039,24.094,50.41,24.094,50.41S40.687,32.039,40.687,19.594A16.612,16.612,0,0,0,24.094,3ZM20.4,26.705H16.982V23.292l7.941-7.918,3.39,3.39ZM30.944,16.156l-1.659,1.659L25.872,14.4l1.659-1.659a.9.9,0,0,1,1.28,0l2.133,2.133a.9.9,0,0,1,0,1.28Z"
            transform="translate(358.906 990.295)"
            fill="#fff"
          />
        </g>
      </svg>
      <h3>Adresa</h3>
      <p>Brodsko-posavska</p>
      <p>35254 Bebrina</p>
      <p>Bebrina 42</p>
    </div>
    <div class="card">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        width="140"
        height="140"
        viewBox="0 0 140 140"
      >
        <defs>
          <linearGradient
            id="linear-gradient"
            x1="1"
            y1="0.5"
            x2="0"
            y2="0.5"
            gradientUnits="objectBoundingBox"
          >
            <stop offset="0" stop-color="#a5f16c" />
            <stop offset="1" stop-color="#14f5fe" />
          </linearGradient>
        </defs>
        <g id="Group_61" data-name="Group 61" transform="translate(-891 -958)">
          <circle
            id="Ellipse_38"
            data-name="Ellipse 38"
            cx="70"
            cy="70"
            r="70"
            transform="translate(891 958)"
            fill="url(#linear-gradient)"
          />
          <path
            id="Icon_material-email"
            data-name="Icon material-email"
            d="M39.033,6H7A3.828,3.828,0,0,0,3.02,9.64L3,31.478a3.846,3.846,0,0,0,4,3.64h32.03a3.846,3.846,0,0,0,4-3.64V9.64A3.846,3.846,0,0,0,39.033,6Zm0,7.279-16.015,9.1L7,13.279V9.64l16.015,9.1,16.015-9.1Z"
            transform="translate(938 1007)"
            fill="#fff"
          />
        </g>
      </svg>

      <h3>Email</h3>
      <p>beekeeper@gmail.com</p>
      <p></p>
      <p></p>
    </div>
    <div class="card">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        width="140"
        height="140"
        viewBox="0 0 140 140"
      >
        <defs>
          <linearGradient
            id="linear-gradient"
            x1="1"
            y1="0.5"
            x2="0"
            y2="0.5"
            gradientUnits="objectBoundingBox"
          >
            <stop offset="0" stop-color="#6c6cf1" />
            <stop offset="1" stop-color="#c914fe" />
          </linearGradient>
        </defs>
        <g id="Group_60" data-name="Group 60" transform="translate(-1350 -947)">
          <circle
            id="Ellipse_39"
            data-name="Ellipse 39"
            cx="70"
            cy="70"
            r="70"
            transform="translate(1350 947)"
            fill="url(#linear-gradient)"
          />
          <path
            id="Icon_awesome-microphone"
            data-name="Icon awesome-microphone"
            d="M12.375,24.75A6.75,6.75,0,0,0,19.125,18V6.75a6.75,6.75,0,0,0-13.5,0V18A6.75,6.75,0,0,0,12.375,24.75ZM23.625,13.5H22.5a1.125,1.125,0,0,0-1.125,1.125V18a9.01,9.01,0,0,1-9.9,8.956,9.273,9.273,0,0,1-8.1-9.357V14.625A1.125,1.125,0,0,0,2.25,13.5H1.125A1.125,1.125,0,0,0,0,14.625v2.824A12.762,12.762,0,0,0,10.688,30.224v2.4H6.75A1.125,1.125,0,0,0,5.625,33.75v1.125A1.125,1.125,0,0,0,6.75,36H18a1.125,1.125,0,0,0,1.125-1.125V33.75A1.125,1.125,0,0,0,18,32.625H14.063V30.251A12.387,12.387,0,0,0,24.75,18V14.625A1.125,1.125,0,0,0,23.625,13.5Z"
            transform="translate(1407.625 999)"
            fill="#fff"
          />
        </g>
      </svg>

      <h3>Telefonski broj</h3>
      <p>+385 99 21 22 092</p>
      <p></p>
      <p></p>
    </div>
  </div>
</div>
