<div class="products">
  <div class="heading-container">
    <div class="heading">
      <h1>Proizvodi</h1>
      <h3>Pogledajte zašto smo najbolji</h3>
    </div>
    <button class="cart-btn" routerLink="cart">Košarica<span
        *ngIf="this.cartList.length > 0">{{this.cartList.length}}</span></button>
  </div>
  <div class="products-list">
    <app-product-card [products]="productList" (productValue)="updateCart($event)"></app-product-card>
  </div>
</div>