.product-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;

  @media only screen and (max-width: 576px) {
    gap: 20px;
  }

  .product-card {
    padding: 30px;
    padding-top: 40px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 5px #0000000a;
    width: 300px;
    transition: all 0.3s ease-in-out;

    &:hover {
      box-shadow: 5px 5px 10px 5px #00000015;
    }

    @media only screen and (max-width: 576px) {
      width: 200px;
      padding-top: 30px;
    }

    .product-card__image {
      max-width: 200px;
      align-self: center;
      display: flex;
      margin: auto;
      margin-bottom: 15px;

      @media only screen and (max-width: 576px) {
        max-width: 140px;
      }
    }

    h3 {
      font-size: 18px;
      font-weight: bold;

      @media only screen and (max-width: 576px) {
        font-size: 16px;
      }
    }

    .description {
      font-size: 15px;
    }

    .cost-container {
      border-left: 4px solid yellow;
      padding-left: 5px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 24px;

      @media only screen and (max-width: 576px) {
        h3 {
          font-size: 16px;
        }
      }
    }

    .card-add-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      background: linear-gradient(to right, #ffd500, #ffa200);
      border-radius: 100px;
      border: none;
      transition: 0.3s all ease-in-out;

      @media only screen and (max-width: 576px) {
        padding: 8px;

        svg {
          width: 20px;
          height: 20px;
        }
      }

      &:hover {
        opacity: 0.8;
      }
    }
  }
}