<div class="product-container">
  <div *ngFor="let product of products" class="product-card">
    <img src="../../../assets/{{product.image}}" class="product-card__image" />
    <h3>{{product.title}}</h3>
    <div class="description">
      {{product.description}}
    </div>
    <div class="cost-container">
      <div class="price">
        <p>Cijena:</p>
        <h3>{{product.price}} Kn</h3>
      </div>
      <button (click)="addProduct(product)" class="card-add-btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 31.43 27.938">
          <path id="Icon_awesome-cart-plus" data-name="Icon awesome-cart-plus"
            d="M27.54,17.461h-16l.357,1.746H26.548a1.31,1.31,0,0,1,1.277,1.6l-.3,1.325a3.057,3.057,0,1,1-3.47.568H12.614a3.056,3.056,0,1,1-3.658-.467L5.123,3.492H1.31A1.31,1.31,0,0,1,0,2.183V1.31A1.31,1.31,0,0,1,1.31,0H6.9A1.31,1.31,0,0,1,8.187,1.047l.5,2.445H30.12a1.31,1.31,0,0,1,1.277,1.6l-2.579,11.35A1.31,1.31,0,0,1,27.54,17.461ZM22.263,9.167H19.644V6.984a.873.873,0,0,0-.873-.873H17.9a.873.873,0,0,0-.873.873V9.167H14.405a.873.873,0,0,0-.873.873v.873a.873.873,0,0,0,.873.873h2.619v2.183a.873.873,0,0,0,.873.873h.873a.873.873,0,0,0,.873-.873V11.786h2.619a.873.873,0,0,0,.873-.873V10.04A.873.873,0,0,0,22.263,9.167Z"
            fill="#fff" />
        </svg>
      </button>
    </div>
  </div>
</div>