$lightYellow: #ffd500;
$darkYellow: #ffa200;

.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 300px;
  background-image: linear-gradient(to right, $lightYellow, $darkYellow);
  position: relative;
  bottom: 0;
  color: #ffff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  .info {
    display: flex;
    justify-content: space-evenly;
    width: 70%;

    .aboutUs {
      display: flex;
      flex-direction: column;
      min-width: 160px;
    }
    .contact {
      display: flex;
      flex-direction: column;
    }
    .faq {
      display: flex;
      flex-direction: column;
      min-width: 70px;
    }
    .socials {
      display: flex;
      flex-direction: column;

      .icons {
        margin: 5px;
        height: 60px;
        width: 150px;
        display: flex;
        justify-content: space-evenly;

        .instagram,
        .facebook {
          margin: 5px;
          height: 57px;
          transition: 0.3s;
        }

        .instagram:hover,
        .facebook:hover {
          width: 57px;
        }
      }
    }

    p {
      position: relative;
      font-size: 18px;
      font-weight: bold;
    }

    p::after {
      content: "";
      position: absolute;
      background-color: #ffff;
      height: 3px;
      width: 100%;
      left: 0;
      bottom: -10px;
    }

    a {
      text-decoration: none;
      color: #ffff;
      transition: 0.3s;
    }
    a:hover {
      font-weight: bold;
    }
  }

  hr {
    border-bottom: 1px solid #ffff;
    width: 80%;
  }

  .copyRights {
    display: flex;
    align-items: center;

    p {
      margin: 5px;
      font-weight: bold;
      font-size: 14px;
    }
  }
}

@media only screen and (max-width: 782px) {
  .footer {
    height: auto;
    .info {
      flex-direction: column;

      .socials {
        .icons {
          width: -webkit-fill-available;
        }
      }
    }
  }
}
