$lightYellow: #ffd500;
$darkYellow: #ffa200;

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  box-shadow: 0px 10px 10px #0000000a;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  .logo {
    width: 33%;
    padding: 5px;
  }

  .hyperLinks {
    width: 33%;
    display: flex;
    justify-content: space-around;
    a {
      position: relative;
      text-decoration: none;
      padding: 0 10px;
      color: black;
      font-weight: 600;
    }
    a::after {
      content: "";
      position: absolute;
      background-color: $darkYellow;
      height: 3px;
      width: 0;
      left: 0;
      bottom: -10px;
      transition: 0.3s;
    }
    a:hover:after {
      width: 100%;
    }
    .hamSignin {
      display: none;
    }
  }

  .signInButton {
    width: 33%;
    display: flex;
    justify-content: flex-end;

    button {
      margin-right: 15%;
      width: 125px;
      height: 40px;
      border-radius: 30px;
      border: none;
      background-image: linear-gradient(to right, $lightYellow, $darkYellow);
      font-weight: bold;
      font-size: 18px;
      color: #fff;
      position: relative;
      z-index: 1;
      overflow: hidden;
      box-shadow: inset 0 0 0 0 $lightYellow;
      -webkit-transition: all ease 0.8s;
      -moz-transition: all ease 0.8s;
      transition: all ease 0.8s;
    }
    button:hover {
      box-shadow: inset 150px 0 0 0 #ffffff;
      color: rgb(0, 0, 0);
      cursor: pointer;
      border: 1px solid black;
    }
  }

  .hamburgerIcon {
    display: none;
  }
}

@media only screen and (max-width: 782px) {
  .navbar {
    .signInButton {
      display: none;
    }

    .hamburgerIcon {
      display: block;
      cursor: pointer;
    }
    .hyperLinks.hiden {
      display: grid;
      grid-template-columns: auto;
      margin: 0;
      width: 100%;
      position: absolute;
      top: -1000px;
      opacity: 1;
      transition: all 0.5s ease;
      height: 50vh;
      z-index: -1;
    }

    .active {
      background: #ffd000;
      top: 100%;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 99;
      height: 35vh;
      position: absolute;
      top: 68px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 30px;

      a {
        color: black;
        font-weight: 500;
      }

      a::after {
        background-color: black;
      }

      .hamSignin {
        display: block;
      }
    }
  }
}
