.container {
  width: 100%;
  .headingContainer {
    width: fit-content;
    h1 {
      font-weight: 700;
      font-size: 25px;
      margin-top: 50px;
      border-bottom: 1px solid black;
    }
    h3 {
      font-size: 17px;
      font-weight: lighter;
      margin-top: -10px;
    }
  }
  .textContainer {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    p {
      width: 70%;
    }
  }

  .cardContainer {
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .card {
      width: 30%;
      align-items: center;
      padding-bottom: 20px;
      padding-top: 20px;
      box-shadow: 5px 5px 10px 5px #0000000a;
      margin-left: 10px;
      margin-right: 10px;
    }
    h3 {
      margin-top: 10px;
      font-weight: 700;
    }

    p {
      margin: 5px;
      font-weight: 700;
    }
  }
}
