.container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 100px;
  .signinCard {
    width: 40%;
    box-shadow: 5px 5px 10px 5px #0000000a;
    text-align: -webkit-center;
    padding-top: 50px;
    padding-bottom: 50px;
    .formContainer {
      width: 80%;
      align-self: center;
      margin-top: 50px;
      .inputContainer {
        margin-top: 10px;
        margin-bottom: 30px;
      }
      .signUpLink {
        margin-top: 30px;

        a {
          text-decoration: none;
          color: black;

          p {
            margin: 0;
          }
          .link {
            color: orange;
          }
        }
      }
    }
  }
}
