<div class="container">
  <div class="signinCard">
    <h1>Sign up</h1>
    <div class="formContainer">
      <div class="inputContainer">
        <div class="form-floating mb-3">
          <input
            type="name"
            class="form-control"
            id="floatingInput"
            placeholder="name@example.com"
          />
          <label for="floatingInput">Name</label>
        </div>
      </div>
      <div class="inputContainer">
        <div class="form-floating mb-3">
          <input
            type="surname"
            class="form-control"
            id="floatingInput"
            placeholder="name@example.com"
          />
          <label for="floatingInput">Surname</label>
        </div>
      </div>
      <div class="inputContainer">
        <div class="form-floating mb-3">
          <input
            type="email"
            class="form-control"
            id="floatingInput"
            placeholder="name@example.com"
          />
          <label for="floatingInput">Email address</label>
        </div>
      </div>
      <div class="inputContainer">
        <div class="form-floating mb-3">
          <input
            type="password"
            class="form-control"
            id="floatingInput"
            placeholder="name@example.com"
          />
          <label for="floatingInput">Password</label>
        </div>
      </div>

      <button type="button" class="btn btn-outline-warning btn-lg">
        Sign up
      </button>
      <div class="signUpLink">
        <a href="/authentication/signup">
          <p>Already have an account?</p>
          <p class="link">Sign in here!</p>
        </a>
      </div>
    </div>
  </div>
</div>
