.products {
  margin-left: 30px;
  margin-right: 30px;
  position: relative;

  .heading-container {
    width: fit-content;
    margin-left: 40px;

    display: flex;
    align-items: center;
    margin-top: 40px;

    h1 {
      font-weight: 700;
      font-size: 25px;
      border-bottom: 1px solid black;
    }

    h3 {
      font-size: 17px;
      font-weight: lighter;
      margin-top: -5px;
    }
  }

  .cart-btn {
    margin-left: 40px;
    background: linear-gradient(to right, #ffd500, #ffa200);
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 30px;
    padding: 8px 28px;
    transition: 0.3s all ease-in-out;

    @media only screen and (max-width: 576px) {
      margin: inherit;
      position: inherit;
    }

    &:hover {
      opacity: 0.8;
    }

    span {
      color: red;
      font-size: 14px;
      position: absolute;
      top: 12px;
      margin-left: 2px;
    }
  }

  .products-list {
    margin: 40px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;

    @media only screen and (max-width: 576px) {
      margin: 20px 0px;
    }
  }
}