$lightYellow: #ffd500;
$darkYellow: #ffa200;

.intro {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  .first {
    font-weight: 700;
    font-size: 19px;
  }
  .second {
    font-size: 19px;
  }
}

.main {
  display: flex;
  flex-direction: row;
  align-items: center;

  .info-block {
    width: 50%;
    display: flex;
    justify-content: center;
    .info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      p {
        font-size: 25px;
      }
      .p-bold {
        font-size: 25px;
        font-weight: 700;
        margin-top: -25px;
      }

      button {
        height: 45px;
        padding: 10px;
        padding-left: 17px;
        padding-right: 17px;
        border-radius: 30px;
        border: none;
        background-image: linear-gradient(to right, #ffd500, #ffa200);
        font-weight: bold;
        font-size: 18px;
        color: #fff;
        position: relative;
        z-index: 1;
        overflow: hidden;
        box-shadow: inset 0 0 0 0 #ffd500;
      }
    }
  }

  .ilustration {
    svg {
      width: 70%;
    }
  }
}

.image {
  svg {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
  }
}
