<div class="container">
  <div class="signinCard">
    <h1>Sign in</h1>
    <div class="formContainer">
      <div class="inputContainer">
        <div class="form-floating mb-3">
          <input
            type="email"
            class="form-control"
            id="floatingInput"
            placeholder="name@example.com"
          />
          <label for="floatingInput">Email address</label>
        </div>
      </div>
      <div class="inputContainer">
        <div class="form-floating mb-3">
          <input
            type="password"
            class="form-control"
            id="floatingInput"
            placeholder="name@example.com"
          />
          <label for="floatingInput">Password</label>
        </div>
      </div>

      <button type="button" class="btn btn-outline-warning btn-lg">
        Sign in
      </button>
      <div class="signUpLink">
        <a href="/authentication/signup">
          <p>Don't have account already?</p>
          <p class="link">Sign up here!</p>
        </a>
      </div>
    </div>
  </div>
</div>
